{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-md-auto form-group mt-5">
			<h2> Créer un ticket </h2>
		</div>
	</div>
	<div class="row d-flex justify-content-center mt-5">
		<div class="col-md-auto form-group justify-content-center">
			<form method='post' enctype='multipart/form-data'>
				{% csrf_token %}
				<label for='title'> Titre: </label>
				<div class="d-flex justify-content-center mb-4">{{ ticket_form.title }}</div>
				<label for='body'>Description: </label>
				<div class="d-flex justify-content-center mb-4">{{ ticket_form.body }}</div>
				<label for='image'>Image: </label>
				<div class="d-flex justify-content-center mb-4">{{ ticket_form.image }}</div>
				<div class="d-flex justify-content-end">
				<button type='submit' class='btn btn-primary ml-auto'> Envoyer</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
