{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="d-flex justify-content-center mt-5">
			<h2> FLux </h2>
		</div>
	</div>
	        <div class="row">
			{% for ticket in tickets %}
				{% include 'reviews/ticket_detail.html' %}
				<div class="col-3 align-self-end">
					<a href="{% url 'review-ticket' ticket.id %}" type="button" class="btn btn-primary">Créer une critique</a>
				</div>
			</div>
			{% endfor %}
                </div>

</div>

{% endblock %}