{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="d-flex justify-content-center mt-5">
			<h2> Bienvenue {{ request.user }}</h2>
		</div>
	</div>	
	<div class="row d-flex justify-content-center mt-4 mb-3">
		<div class="col-3 d-flex justify-content-center">
			<a href="{% url 'ticket-add' %}" type="button" class="btn btn-primary">Demander une critique</a>
		</div>
		<div class="col-3 d-flex justify-content-center">
			<a href="{% url 'review-add' %}" type="button" class="btn btn-primary">Créer une critique</a>
		</div>
	</div>
	        <div class="row">
					{% for ticket in tickets %}
						{% include 'reviews/ticket_detail.html' %}
				<div class="col-6 d-flex justify-content-end mb-2">
					{% if ticket.review is not True %}
					<div class="col-4 align-self-end">
						<a href="{% url 'review-ticket' ticket.id %}" type="button" class="btn btn-primary">Créer une critique</a>
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
                </div>

</div>

{% endblock %}
