{% extends 'base.html' %}

{% block content %}
<div class="container">

	<div class="row">
		<div class="d-flex justify-content-center mt-5">
			<h2> Posts </h2>
		</div>
	</div>

	{% for ticket in tickets %}
	<div class="row border border-2 border-secondary-subtle my-3">
		{% include 'reviews/ticket_detail.html' %}
		<div class="col d-flex justify-content-end mb-2">
			<div class="d-flex align-self-end m-2">
					<a href="{% url 'ticket-update' ticket.id %}" type="button" class="btn btn-primary">Modifier</a>
			</div>
			<div class="d-flex align-self-end m-2">
					<a href="{% url 'ticket-delete' ticket.id %}" type="button" class="btn btn-danger">Supprimer</a>
			</div>
		</div>
	</div>
	{% endfor %}

	{% for review in reviews %}
	<div class="row border border-2 border-secondary-subtle my-3">
		{% include 'reviews/review_detail.html' %}
			<div class="col d-flex justify-content-end mb-2">
				<div class="d-flex align-self-end m-2">
						<a href="{% url 'review-update' review.id %}" type="button" class="btn btn-primary">Modifier</a>
				</div>
				<div class="d-flex align-self-end m-2">
						<a href="{% url 'review-delete' review.id %}" type="button" class="btn btn-danger">Supprimer</a>
				</div>
			</div>
	</div>
	{% endfor %}

</div>

{% endblock %}
