{% extends 'base.html' %}

{% block content %}

<main>
	<div class="container">
		<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h2>Modifier votre critique</h2>
			</div>
		</div>
		<section>
			<div class="row border border-3 mt-3 mb-1">
				<h3>Vous êtes en train de poster en réponse à</h3>
				<div class="row d-flex justify-content-center">
					<div class="col-10 border border-2 border-secondary-subtle mb-3">
						{% include 'reviews/ticket_detail.html' with ticket=review.ticket %}
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="row border border-3 border-secondary-subtle justify-content-center mb-5 pb-5">
				<h3>Critique</h3>
				<div class="col-4 mb-4">
					<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								{% include 'reviews/review_form.html' %}
						<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-primary"> Envoyer </button>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</main>

{% endblock %}


