{% extends 'base.html' %}

{% block content %}
<main>
	<div class="container">
		<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h2>Créer une critique</h2>
			</div>
		</div>
		<section>
			<div class="row border border-3 border-secondary-subtle justify-content-center mt-3 mb-1">
				<h3> Livre/Article </h3>
				<div class="col-4 mb-2">
					<form method="post" enctype="multipart/form-data">
						{% include 'reviews/ticket_form.html' %}
						{% csrf_token %}
				</div>
			</div>
		</section>
		<section>
			<div class="row border border-3 border-secondary-subtle justify-content-center">
				<h3>Critique</h3>
				<div class="col-4 mb-4">
							{% include 'reviews/review_form.html' %}
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-primary"> Envoyer </button>
					</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</main>
{% endblock %}
