<div class="row border border-2 border-secondary-subtle my-3">
	<div class="col-8 mb-4">
		{% if request.user == ticket.user %}
		<strong>vous</strong> avez demandé une critique
		{% else %}
		<strong>{{ ticket.user }}</strong> a demandé une critique
		{% endif %}
	</div>
	<div class="col-4 d-flex justify-content-end">
		{{ ticket.time_created }}
	</div>
	<p><strong> {{ ticket.title }} </strong></p>
	<p> {{ ticket.desc }} </p>
	<div class="col-3 mb-2">
	<img src="{{ ticket.image.url }}" class="img" style="width: 200px; height: auto"  alt="Couverture de {{ ticket.title }}">
	</div>

