{% extends 'base.html' %}

{% block content %}

<div class="container" style="height: 100vh">
	<div class="row h-100 align-items-center">
		<div class="col d-flex align-items-center justify-content-center">

			<div class="justify-content-center">
				<div class="align-self-center">
					<h2>Inscrivez-vous</h2>
				</div>
				<div class="justify-content-end">
					<a href="{% url 'register' %}" type="button" class="btn btn-primary">S'inscrire</a>
				</div>
			</div>
		</div>

		<div class="col d-flex align-items-center justify-content-center">
			<div class="row">
				<div class="col">
					<h2>Connectez-vous</h2>
					<form method='post'>
						{% csrf_token %}
						<div class="form-group" aria-describedby="usernameHelp">
							{{ form.username }}
						</div>
						<small id="usernameHelp" class="form-text text-muted">Saisissez ici votre nom d'utilisateur</small>
						<div class="form-group" aria-describedby="passwordHelp">
							{{ form.password }}
						</div>
						<small id="passwordHelp" class="form-text text-muted">Saisissez ici votre mot de passe</small>
						<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-primary">Se connecter</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
